@import "../../../styles/vars";

.card-wrapper {
  display: flex;
  flex: 1 0 50%;
  max-width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.card {
  $bg-color: #fff;
  $title-color: #4078c0;
  display: flex;
  width: 100%;
  min-width: 200px;
  justify-content: space-between;
  flex-direction: column;
  background-color: $bg-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  cursor: pointer;
  &__desc {
    font-size: 14px;
    line-height: 1.4;
  }
  &__content {
    padding: 20px;
  }
  &__title {
    max-width: 100%;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $title-color;
    font-size: 20px;
    &_md {
      font-size: 16px;
    }
  }
  &__footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
    background-color: $primary-color;
  }
  &__meta {
    &-item {
      display: flex;
      align-items: center;
      margin: 5px 16px 5px 0;
      font-size: 12px;
      white-space: nowrap;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &-icon {
      width: 14px;
      height: 14px;
      margin-right: 4px;
    }
  }
  &__lang-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
  }
  &__section {
    padding-top: 20px;
  }
  &_extend {
    border: none;
    border-radius: 0;
    cursor: default;
  }
}

.card-list {
  padding-left: 0;
  list-style-type: none;
  &__item {
    margin-bottom: 10px;
  }
}
