@import "../../../styles/vars";

.dialog {
  position: fixed;
  width: 90%;
  max-width: 500px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  box-shadow: 0 0 5px 0 rgba(#000, .2);
  border-radius: 5px;
  color: inherit;
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 50px 0 20px;
    max-height: calc(100vh - 40px);
  }
  &__scroll {
    height: 100%;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    padding: 6px;
    border-radius: 3px;
    background-color: transparent;
    color: $primary-color;
    border: 1px solid currentColor;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      color: darken($primary-color, 10%);
    }
  }
}
