$m-font: -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Helvetica,
          Arial,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol";
$t-color: #555;
$link-color-hover: #0366d6;
$f-size: 16px;
$bg-color: #fff;
$primary-color: #f1f1f1;
