@import "~normalize.css";
@import "vars";

html,
body {
  background-color: $bg-color;
  color: $t-color;
  font-family: $m-font;
  font-size: $f-size;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

button,
input {
  color: inherit;
  font-family: inherit;
}

[type="checkbox"],
[type="radio"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus {
    color: $link-color-hover;
  }
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  min-width: 320px;
}

.header {
  padding: 10px;
  border-bottom: 1px solid $primary-color;
  &__btn {
    display: none;
    height: 40px;
    margin-top: 10px;
    @media (max-width: 600px) {
      display: block;
    }
  }
}

.content {
  display: flex;
  flex: 1;
  min-height: 0;
  &__aside {
    max-width: 300px;
    min-width: 200px;
    flex: 1;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid $primary-color;
    @media (max-width: 600px) {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 10px;
      max-width: initial;
      background-color: $bg-color;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease-in;
      @media (max-width: 600px) {
        padding-top: 50px;
      }
    }
    &.is-open {
      opacity: 1;
      visibility: visible;
    }
    &-inner {
      width: 100%;
      overflow: auto;
    }
    &-close {
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;
      @media (max-width: 600px) {
        display: block;
      }
      .icon {
        max-width: 16px;
      }
    }
  }
  &__inner {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    min-width: 400px;
    padding-bottom: 5px;
    @media (max-width: 600px) {
      min-width: 0;
    }
  }
}

.main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-left: 1px solid $primary-color;
  border-right: 1px solid $primary-color;
  font-size: 14px;
  th {
    border-top: 1px solid $primary-color;
    text-align: left;
  }
  th,
  td {
    width: 50%;
    padding: 10px 20px;
    border-bottom: 1px solid $primary-color;
  }
  &_card {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    border: none;
  }
}
