@import "./../../styles/vars";

.sorting {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px 10px;
  margin-bottom: 10px;
  background-color: $primary-color;
  &__label {
    width: 60px;
  }
  &__item {
    margin-right: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}
