@import "./../../styles/vars";

.sorting {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px 10px;
  margin-bottom: 10px;
  background-color: $primary-color;
  @media (max-width: 600px) {
    padding-top: 10px;
    padding-bottom: 0;
  }
  &__label {
    @media (max-width: 400px) {
      font-size: 12px;
    }
  }
  &__item {
    margin-right: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
    @media (max-width: 400px) {
      margin-right: 6px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__select {
    @media (max-width: 400px) {
      font-size: 11px;
      padding-left: 0;
    }
  }
}
